.container {
    height: 300px;
    border: 1px solid red;
    width: 100%;

    display: table;
}
.cell {
    height: 30px;
    border: 1px solid blue;
    
    vertical-align: middle;
    text-align: center;
    
    display: table-cell;
}