p {
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 16px;
    text-indent: 50px;
    line-height: 2.2;
    white-space: nowrap;
}
h3 {
    font-size: 3em;
    text-shadow: 5px 5px 5px gray;
}